################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/CommMFC/v17/Browse.VC.opendb
/.vs/CommMFC/FileContentIndex/d9dcf04d-d056-4b75-8f1c-daf9acb30d02.vsidx
